<main class="content px-3 py-2">
  <div class="container-fluid">
    <!-- Encabezado -->
    <div class="mb-5">
      <h4 style="color: white">Sophos Central > Tenant</h4>
    </div>

    <!-- Sección de estadísticas -->
    <div class="row">
      <div class="col-12 col-md-6 d-flex mb-3">
        <div class="card flex-fill border-0 illustration">
          <div class="card-body p-0 d-flex flex-fill">
            <div class="row g-0 w-100">
              <div class="col-6">
                <div class="p-3 m-1">
                  <h4>Crea, Actualiza y Mira Reportes en tiempo real</h4>
                  <p class="mb-0">¿Sabías que tienes control en tiempo real?</p>
                </div>
              </div>
              <div class="col-6 align-self-end text-end">
                <img
                  src="../../../assets/gif/sophos-central-tenants.gif"
                  class="img-fluid illustration-img"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 d-flex mb-3">
        <div class="card flex-fill border-0">
          <div class="card-body py-4">
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <h4 class="mb-2">+ {{ cantidadDatosTenants }}</h4>
                <p class="mb-2">Total Tenant</p>
                <p class="mb-2">Puff! y seguirán aumentando</p>
                <div class="mb-0">
                  <span class="badge text-success me-2"> +9.0% </span>
                  <span class="text-muted"> Since Last Month </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Table de Todos los Inquilinos -->
    <div class="card border-0">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <div>
          <h5 class="card-title">All Tenant</h5>
          <h6 class="card-subtitle text-muted">
            ALL TENANT - EVENT TENAT - READ TENANT - READ NAME
          </h6>
        </div>
        <div class="d-flex align-items-center">
          <!-- SELECT NEW TABLE TENANTS -->
          <div class="w-100">
            <mat-form-field>
              <mat-label class="text-white">Selecciona una tabla</mat-label>
              <mat-select
                [formControl]="selectedOption"
                (selectionChange)="limpiarSelectedEvent()"
              >
                <mat-option class="text-white" value="option1"
                  >All Tenants</mat-option
                >
                <mat-option class="text-white" value="option2"
                  >Tenants Events</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <!-- SELECT TYPE TENANT EVENTS -->

          <mat-form-field *ngIf="selectedOption.value === 'option2'">
            <mat-label class="text-white">Seleccionar evento</mat-label>
            <mat-select [formControl]="selectedEvent">
              <mat-option class="text-white" value="app">APP</mat-option>
              <mat-option class="text-white" value="cwb">cwb</mat-option>
              <mat-option class="text-white" value="dvc">dvc</mat-option>
              <mat-option class="text-white" value="dlp">dlp</mat-option>
              <mat-option class="text-white" value="thrt">thrt</mat-option>
              <mat-option class="text-white" value="prt-is">prt-is</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!--TABLE ALL TENANTS-->
      <div class="card-body">
        <div *ngIf="selectedOption.value === 'option1'" class="tablestenants">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Created_At</th>
                <th scope="col">Updated</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let tenant of tenants.slice(0, totalLoaded);
                  let i = index
                "
              >
                <td scope="row">{{ i + 1 }}</td>
                <td>{{ tenant.nombre }}</td>
                <td>{{ tenant.created_at }}</td>
                <td>{{ tenant.updated_at }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!--TABLE DYNAMIC EVENTS TENANTS-->
        <!--EVENT TENANTS: APP-->
        <ng-container>
          <form [formGroup]="formTenatsEvent" class="row justify-content-start">
            <div *ngIf="selectedEvent.value === 'app'" class="tablestenants">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">endpoint_type</th>
                    <th scope="col">source</th>
                    <th scope="col">group</th>
                    <th scope="col">severity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of tenantsEvents.slice(0, totalLoaded)let i = index;">
                    <td scope="row">{{ i + 1 }}</td>
                    <td scope="row">{{ event.endpoint_type }}</td>
                    <td>{{ event.source }}</td>
                    <td>{{ event.group }}</td>
                    <td>{{ event.severity }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--EVENT TENANTS: CWB-->
            <div *ngIf="selectedEvent.value === 'cwb'" class="tablestenants">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">endpoint_type</th>
                    <th scope="col">source</th>
                    <th scope="col">group</th>
                    <th scope="col">severity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of tenantsEvents.slice(0, totalLoaded)let i = index;">
                    <td scope="row">{{ i + 1 }}</td>
                    <td scope="row">{{ event.endpoint_type }}</td>
                    <td>{{ event.source }}</td>
                    <td>{{ event.group }}</td>
                    <td>{{ event.severity }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--EVENT TENANTS: DVC-->
            <div *ngIf="selectedEvent.value === 'dvc'" class="tablestenants">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">endpoint_type</th>
                    <th scope="col">source</th>
                    <th scope="col">group</th>
                    <th scope="col">severity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of tenantsEvents.slice(0, totalLoaded)let i = index;">
                    <td scope="row">{{ i + 1 }}</td>
                    <td scope="row">{{ event.endpoint_type }}</td>
                    <td>{{ event.source }}</td>
                    <td>{{ event.group }}</td>
                    <td>{{ event.severity }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--EVENT TENANTS: DLP-->
            <div *ngIf="selectedEvent.value === 'dlp'" class="tablestenants">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">endpoint_type</th>
                    <th scope="col">source</th>
                    <th scope="col">group</th>
                    <th scope="col">severity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of tenantsEvents.slice(0, totalLoaded)let i = index;">
                    <td scope="row">{{ i + 1 }}</td>
                    <td scope="row">{{ event.endpoint_type }}</td>
                    <td>{{ event.source }}</td>
                    <td>{{ event.group }}</td>
                    <td>{{ event.severity }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--EVENT TENANTS: thrt-->
            <div *ngIf="selectedEvent.value === 'thrt'" class="tablestenants">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">endpoint_type</th>
                    <th scope="col">source</th>
                    <th scope="col">group</th>
                    <th scope="col">severity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of tenantsEvents.slice(0, totalLoaded)let i = index;">
                    <td scope="row">{{ i + 1 }}</td>
                    <td scope="row">{{ event.endpoint_type }}</td>
                    <td>{{ event.source }}</td>
                    <td>{{ event.group }}</td>
                    <td>{{ event.severity }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="selectedEvent.value === 'prt-is'" class="tablestenants">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">endpoint_type</th>
                    <th scope="col">source</th>
                    <th scope="col">group</th>
                    <th scope="col">severity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of tenantsEvents.slice(0, totalLoaded)let i = index;">
                    <td scope="row">{{ i + 1 }}</td>
                    <td scope="row">{{ event.endpoint_type }}</td>
                    <td>{{ event.source }}</td>
                    <td>{{ event.group }}</td>
                    <td>{{ event.severity }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </ng-container>

        <div class="row justify-content-start">
          <button
            type="button"
            (click)="loadMore()"
            *ngIf="totalLoaded < tenants.length"
            mat-flat-button
          >
            Cargar Mas
            <mat-icon>more</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- Tarjeta para Crear Inquilino -->
    <div class="card border-0 mb-3 mt-4">
      <mat-card class="bg-transparent custom-background">
        <mat-card-header>
          <mat-card-title class="text-white text-white mt-3 mb-3">
            Create Tenant
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!--FORM Create New Tenant-->
          <form
            [formGroup]="formCreateTenant"
            class="row justify-content-center"
          >
            <!--CREATE INPUT Nombre-->
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label class="text-white">Nombre</mat-label>
                <input
                  formControlName="nombre"
                  matInput
                  placeholder="Companie Name"
                  class="text-white"
                />
                <mat-icon class="text-white" matSuffix
                  >sentiment_very_satisfied</mat-icon
                >
              </mat-form-field>
            </div>
            <!--CREATE INPUT Cliente ID-->
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label class="text-white">Cliente ID</mat-label>
                <input
                  class="text-white"
                  formControlName="cliente_id"
                  matInput
                  placeholder="123..."
                />
                <mat-icon matSuffix class="text-white">assignment</mat-icon>
              </mat-form-field>
            </div>
            <!--CREATE INPUT Cliente Secret-->
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label class="text-white">Cliente Secret</mat-label>
                <input
                  class="text-white"
                  formControlName="cliente_secret"
                  matInput
                  placeholder="123..."
                />
                <mat-icon matSuffix class="text-white">account_box</mat-icon>
              </mat-form-field>
            </div>
            <!--BUTTON Save-->
            <div class="col-md-6">
              <button
                type="button"
                (click)="onSaveTenantCreate()"
                mat-flat-button
                [disabled]="!formCreateTenant.valid"
              >
                Guardar
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Tarjeta para Actualizar Inquilino -->
    <!--FORM UPDATE Tenant-->
    <div class="card border-0 mb-3 mt-7">
      <mat-card class="bg-transparent custom-background">
        <mat-card-header>
          <mat-card-title class="text-white mt-3 mb-3">
            Update Tenant
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!--FORM Update New Tenant-->
          <form
            [formGroup]="formCreateTenant"
            class="row justify-content-start"
          >
            <!-- Container del Select -->
            <div class="col-md-12 d-flex justify-content-center mb-3">
              <mat-form-field>
                <mat-label class="text-white">Tenant</mat-label>
                <mat-select class="text-white" [formControl]="selectenant">
                  <mat-option class="text-white" selected disabled
                    >--Seleccione--</mat-option
                  >
                  <mat-option
                    class="text-white"
                    *ngFor="let tnt of tenants"
                    [value]="tnt.id"
                    >{{ tnt.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <ng-container *ngIf="tenantSeleccionado">
              <!-- Container de los campos Cliente ID y Cliente Secret -->
              <!-- UPDATE INPUT Cliente ID -->
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label class="text-white">Nombre</mat-label>
                  <input
                    class="text-white"
                    formControlName="nombre"
                    matInput
                    placeholder="Companie Name"
                  />
                  <mat-icon matSuffix class="text-white">assignment</mat-icon>
                </mat-form-field>
              </div>
              <!-- UPDATE INPUT Cliente Secret -->
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label class="text-white">Cliente ID</mat-label>
                  <input
                    class="text-white"
                    formControlName="cliente_id"
                    matInput
                    placeholder="123..."
                  />
                  <mat-icon matSuffix class="text-white">account_box</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-6 justify-content-start">
                <mat-form-field appearance="outline">
                  <mat-label class="text-white">Cliente Secret</mat-label>
                  <input
                    class="text-white"
                    formControlName="cliente_secret"
                    matInput
                    placeholder="123..."
                  />
                  <mat-icon matSuffix class="text-white">assignment</mat-icon>
                </mat-form-field>
              </div>
              <!-- BUTTON Save -->
              <div class="col-md-1 mb-6">
                <button
                  type="button"
                  (click)="actualizarTenant()"
                  mat-flat-button
                >
                  Actualizar
                  <mat-icon>update</mat-icon>
                </button>
              </div>
            </ng-container>
          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Tarjeta para Filtrar EMAILS -->
    <!--FORM Search Email Dates-->
    <div class="card border-0 mb-3 mt-7">
      <mat-card class="bg-transparent custom-background">
        <mat-card-header>
          <mat-card-title class="text-white mt-3 mb-3 text-white">
            Tenant Emails
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!--FORM Update New Tenant-->
          <form [formGroup]="formEmailTenant" class="row justify-content-start">
            <!-- Container del Select -->
            <mat-form-field>
              <mat-label class="text-white">Ingresa un rango</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input
                  class="text-white"
                  matStartDate
                  formControlName="fecha_ini"
                  placeholder="Start date "
                />
                <input
                  class="text-white"
                  matEndDate
                  formControlName="fecha_fin"
                  placeholder="End date "
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                class="text-white"
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker
                class="text-white"
                #picker
              ></mat-date-range-picker>
            </mat-form-field>
            <!-- BUTTON Save -->
            <div class="col-md-1 mb-6">
              <button
                type="button"
                (click)="buscarEmails()"
                [disabled]="!formEmailTenant.valid"
                mat-flat-button
              >
                Buscar
                <mat-icon>search</mat-icon>
              </button>
            </div>
            <ng-container *ngIf="tableemailstenant">
              <div class="card border-0 mt-4">
                <div class="card-header">
                  <h5 class="card-title">
                    Datos encontrados {{ cantidadDatosEmailTenants }} : Tenant
                    Email
                  </h5>
                  <h6 class="card-subtitle text-muted"></h6>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">envelope_recipient</th>
                        <th scope="col">client_ip</th>
                        <th scope="col">event_type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let email of tenantsemail.slice(0, totalLoaded);
                          let i = index
                        "
                      >
                        <td scope="row">{{ i + 1 }}</td>
                        <td>{{ email.envelope_recipient }}</td>
                        <td>{{ email.client_ip }}</td>
                        <td>{{ email.event_type }}</td>
                      </tr>
                      <!-- <ng-container *ngIf="nodataemailtenant">
                        <img src="../../../../assets/svg/nodata.svg" class="img-fluid illustration-img" alt="Descripción de la imagen">
                      </ng-container> -->
                    </tbody>
                  </table>
                  <!-- Botón de carga -->
                  <div class="row justify-content-start">
                    <button
                      type="button"
                      (click)="loadMore()"
                      *ngIf="totalLoaded < tenantsemail.length"
                      mat-flat-button
                    >
                      Cargar Mas
                      <mat-icon>more</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>
